@font-face{
	font-family: Lora;
	src: url(../fonts/Lora-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;
    list-style: none;
    font-family: Lora, Montserrat, sans-serif;

    scroll-behavior: smooth;
}
*::selection{
    color: #191918;
    background: #eab637;
}

body::-webkit-scrollbar {
    background: #191918 !important;
    width: 50px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3E3E3E !important;
    border-radius: 20px;
    border: 2.5px solid #191918;
}
body::-webkit-scrollbar-thumb:hover {
    background: #4D4D4D !important;
}
body::-webkit-scrollbar:vertical {
    width: 10px;
}

body{
	overflow-x: hidden;
	width: 100%;
	height: 100vh;
	background-color: #191918;
	background-image: url(../IMG/fondito.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*/////////////////////////////////////*/
/*               Header                */
/*/////////////////////////////////////*/
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}
#todo_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#logito{
    margin: 10px;
    width: 99%;
    background: #3E3E3E;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#favicon_logo{
	width: 80px;
	margin: 10px;
}
/*················Redes················*/

.redes_header{
    display: flex;
    position: absolute;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 0px 41px 0px 0px;
}
.circulito{
    width: 50px;
    height: 50px;
    margin: 1.5%;
    background: #171717;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.link_redes_header{
    display: flex;
    align-items: center;

    transition: 250ms;
}
.link_redes_header:hover{
	opacity: 0.7;
}
.img_redes{
    width: 30px;
    height: 30px;
}
/*/////////////////////////////////////*/
/*                Menu                 */
/*/////////////////////////////////////*/
.ContButtons{
    width: 0%;
    height: 0%;

    top: 45%;
    left: 95.4%;

    z-index: 999;
    position: fixed;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.fonts{
    width: 30px;
	font-size: 1.5em;
	font-family: Montserrat, sans-serif;

    transition: 500ms;
	background: -webkit-gradient(linear, 
								left top, 
								right top, from(#222), 
								to(#222), 
								color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    color: #3e3e3e52;
    -webkit-background-clip: text;
}
.fonts:hover{
	animation: goldy_hover .4s ease-in;
}
@keyframes goldy_hover{
	0% {
	    background-position: top right;
	}
	100% {
	    background-position: top left;
	}
}
/*/////////////////////////////////////*/
/*               Texto                 */
/*/////////////////////////////////////*/
#ContText{
    width: 100%;
    height: 90vh;
    padding-left: 110px;
    padding-top: 170px;
    display: flex;
    flex-direction: column;
}
/*········································*/
.text_uno{
    color: #fff;
    font-size: 8em;
    transform: translateX(0px);

    animation: translate 1.6s cubic-bezier(0.13, 0.67, 0.56, 0.93);
}
@keyframes translate {
    0%, 45%{
    	transform: translateX(-1045px);
    }
    100%{
    	transform: translateX(0px);
    }
}
/*········································*/
.text_dos{
	color: #EABE3F;
    font-size: 4.1em;

    animation: opacity_animate 2.6s ease-in;
}
@keyframes opacity_animate {
    0%, 60%{
    	opacity: 0;
    }	
    100%{
    	opacity: 1;
    }
}
/*···············································*/
/*Efecto destello/brillo metalico/dorado - 2/8/23*/
/*···············································*/
.gold_effect{
	background: -webkit-gradient(linear, 
								left top, 
								right top, from(#222), 
								to(#222), 
								color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 125px;
    color: #eabe3f99;
    animation: goldy 2.5s infinite ease-in;
    -webkit-background-clip: text;
}
@keyframes goldy{
	0% {
	    background-position: top left;
	    -webkit-background-size: 0px;
	}
	20% {
	    -webkit-background-size: 90px;
	}

	100% {
	    background-position: top right;
	    -webkit-background-size: 125px;
	}
}
/*········································*/
.text_tres{
	color: #656563;
    font-size: 1.8em;
    padding-top: 110px;
}

/*/////////////////////////////////////*/
/*                Info                 */
/*/////////////////////////////////////*/

/*NEW*/

#contPNG{
	width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.top{
    position: relative;
    top: -100px;
}
.center{
    position: relative;
}
.down{
    position: relative;
    bottom: -100px;
}

.snakePNG{
    width: 1000px;
}

/*OLD*/

#ContInfoTodo{
    width: 100%;
/*    height: 100%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;

/*    background-image: url(../IMG/snake_shoes_png.png);
	background-repeat: no-repeat;
    background-position: right;
     background-size: contain;*/
}
#FlexShoes{
    width: 100%;
    height: 100%;
    margin-left: 100px;

    display: flex;
    flex-direction: column;
/*    display: flex;
    height: 75%;
    margin-left: 100px;
    flex-direction: column;
    justify-content: space-between;*/
}
.ContLinea{
	width: 100%;

    display: flex;
    align-items: center;
}
.golden_text{
	width: 530px;
	/*width: 100%;*/
	color: #EABE3F;
	font-size: 2em;
    /*font-size: 2.15em;*/
}
/*----------lines-----------*/
.linea_info_uno{
    width: 120%;
    background: #838383;
    height: 3px;
    position: relative;
    left: 80px;
}
.linea_info_dos{
    width: 135%;
    background: #838383;
    height: 3px;
    position: relative;
    left: 130px;
}
.linea_info_tres{
	width: 150%;
    background: #838383;
    height: 3px;
    position: relative;
    left: 175px;
}
.opac_text{
    color: #656563;
    font-size: 1.5em;
}

/*/////////////////////////////////////*/
/*               Footer                */
/*/////////////////////////////////////*/
footer{
    width: 100%;
    display: flex;
    background: #ffffffe8;
}
#help_footer{
	padding: 155px 110px 155px 110px;
}
#terms_footer{
	padding: 155px 110px 155px 110px;
}
.golden_text_footer{
	color: #d0a836;
	font-size: 1.8em;
    font-weight: 500;
}
.opac_text_footer{
    color: #454545;
	font-size: 1.8em;
    padding: 20px 0px 20px 0px;
}

/*················Created················*/

#creado_por{
    width: 100%;
    height: 80px;
    display: grid;
    align-content: center;

    background: #ffffffe8;
    border-top: 1px solid #838383;
    box-shadow: inset 0px 0px 30px 10px #00000012;
}
.marcmp_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_{
    color: #222222;
}
.neon_{
	color: #d0a836;
    text-shadow: 0px 0px 0.1px #EABE3F;
}
.logo_neon{
    width: 18px;
    filter: drop-shadow(1px 0px 1px #dadada);
}
/*/////////////////////////////////////*/
/*               MEDIA                 */
/*/////////////////////////////////////*/
@media only screen and (max-width: 1651px){
	.golden_text {
	    width: 100%;
	}
	.linea_info_uno,
	.linea_info_dos,
	.linea_info_tres {
	    display: none;
	}

	.center {
	    left: 100px;
	}
	.down {
	    left: 200px;
	}
}
@media only screen and (max-width: 1426px){
	#ContText {
	    height: auto;
	    margin-bottom: 250px;
	}

	#contPNG {
	    flex-direction: column-reverse;
	}

	#FlexShoes {
		margin-bottom: 50px;
		margin-left: 0px;
		text-align: center;

		justify-content: space-evenly;
	    flex-direction: row;
	}
	.top {
	    top: 0px;
	}
	.center {
	    left: 0px;
	}
	.down {
		bottom: 0px;
	    left: 0px;
	}

	footer {
		text-align: center;
	    justify-content: center;
	}
	#help_footer,
	#terms_footer {
	    padding: 100px 70px;
	}
}
@media only screen and (max-width: 1305px){
	.text_uno {
	    font-size: 6em;
	}
	.text_dos {
	    font-size: 3.1em;
	}
	.text_tres {
	    font-size: 1.5em;
	    padding-top: 70px;
	}
}
@media only screen and (max-width: 1023px){
	body{
		background-attachment: fixed;
	}
	header {
	    position: sticky;
	}
	.circulito{
		width: 42px;
    	height: 42px;
	}
	.img_redes{
		width: 25px;
    	height: 25px;
	}
/*········································*/
	.ContButtons{
		display: none;
	}
/*········································*/
	#ContText {
        padding-left: 80px;
        padding-top: 25px;
        margin-bottom: 100px;
    }
	.text_tres {
	    padding-top: 60px;
	}
/*········································*/
	#ContInfoTodo {
	    width: 100%;
    	padding-top: 20px;
	    background-size: 534px;
	}
	.snakePNG {
	    width: 100%;
	}
/*········································*/
	#creado_por {
	    height: 63px;
	}
}
@media only screen and (max-width: 851px){
    #ContText {
        padding: 25px 40px 0 40px;
    }

	#FlexShoes {
        padding: 25px 40px 0 40px;
	    flex-wrap: wrap;
	    gap: 40px 10px;
	}

	#help_footer, 
	#terms_footer {
        padding: 70px 70px;
    }
	.opac_text_footer {
	    font-size: 1.5em;
	    padding: 12px 0px;
	}
}
@media only screen and (max-width: 760px){
	.redes_header {
	    padding: 0px 30px 0px 0px;
	}
	#favicon_logo {
	    width: 65px;
	}

	#ContText {
		align-items: center;
	    text-align: center;
    }
    .text_tres {
        padding-top: 50px;
    }
    .text_uno {
        font-size: 5em;
    }

    #FlexShoes {
        gap: 40px 10px;
        flex-direction: column;
    }
    .ContInfo {
        border: 1px solid #3e3e3e;
        padding: 20px 10px;
        border-radius: 15px;
    }

    #help_footer, 
    #terms_footer {
        padding: 70px 30px;
    }
	#creado_por {
        gap: 5px;
    }
}
@media only screen and (max-width: 667px){
	.text_uno {
        font-size: 4em;
    }
    .text_dos {
        font-size: 2.5em;
    }
/*----*/
	@keyframes goldy{
		0% {
		    background-position: top left;
		    -webkit-background-size: 0px;
		}
		20% {
		    -webkit-background-size: 90px;
		}

		100% {
		    background-position: 900px;
		    -webkit-background-size: 125px;
		}
	}
/*----*/
    .opac_text_footer {
        font-size: 17px;
        padding: 8px 0px;
    }
	.golden_text_footer {
	    font-size: 1.5em;
	    margin-bottom: 15px;
	}
}
@media only screen and (max-width: 593px){
	.text_uno{
	    animation: translate 1.4s ease-out;
	}
	.text_dos{
	    animation: opacity_animate 2.05s ease-in;
	}

	#logito {
	    justify-content: flex-start;
	}
}
@media only screen and (max-width: 519px){
    #ContText {
        padding: 25px 20px 0 20px;
        margin-bottom: 50px;
    }
	.text_uno {
        font-size: 12vw;
    }
    .text_dos {
        font-size: 8vw;
    }
    .text_tres {
        font-size: 16px;
    }

    #FlexShoes {
        padding: 0px 20px;
        gap: 20px 10px;
    }
	.golden_text {
	    font-size: 26px;
	}
	.opac_text {
	    font-size: 16px;
	}

	footer {
		row-gap: 35px;
	    flex-wrap: wrap;
	    padding: 40px 0;
	}
	#help_footer, 
	#terms_footer {
        padding: 0px 30px;
    }
}
@media only screen and (max-width: 450px){
	.text_uno {
        font-size: 11vw;
    }
    .text_dos {
        font-size: 7.3vw;
    }

	#favicon_logo {
	    width: 40px;
	    margin: 6px 6px 6px 15px;
	}
    .circulito {
        width: 30px;
        height: 30px;
    }
    .img_redes {
        width: 15px;
        height: 15px;
    }
}
